@import url(http://fonts.googleapis.com/css?family=Ubuntu);

html, body, input, textarea {
	font: 23px "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

video {
	margin: 0 auto;
	min-height: 100vh;
	max-height: 100vh;
	max-width: 100vw;
	display: block;
}

/* Font */

/* Standard shit */
#overlay {
	/*font-family: 'Ubuntu', sans-serif;*/
	font-size: 1.3em;
	padding: 0.3em;
	margin: 0;
	color: rgba(255, 255, 255, 1);
	position: fixed;
	width: 100%;
	top: 0;
	background-color: rgba(13, 13, 13, 0.5);
}

.betanote {
	opacity: 0.5;
}

.main {
	background: #111;
}

#overlay p{
	display: inline;
}

/* Links */

.directlink a, .directlink a:visited {
	color: #111;
	text-decoration: none;
	transition: color 0.15s;
}

.directlink a:hover {
	color: #e65100;
}

.link a{
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #111;
	text-decoration: none;
	transition: color 0.15s;
}

.link a:hover {
	color: #e65100;
}

.link {
	list-style: none;
}

/* Controls */

.controls {
	cursor: default;
	position: fixed;
	padding: 15px;
	bottom: 0px;
	right: 0px;
	z-index: 10;
}

.controls2 {
	cursor: default;
	position: fixed;
	padding: 15px;
	bottom: 0px;
	left: 0px;
	z-index: 10;
}

#volume {
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 5px 8px;
	font-size: 26px;
	background-color: rgba(255, 255, 255, 0.5);
	display: none;
}

/* Standard button thing */

.quadbutton, .autonext, .dautonext {
	cursor: pointer;
	display: inline-block;
	color: #fff;
	font-size: 18pt;
	padding: 3px;
	opacity: 0.2;
	transition: transform 0.045s ease-in, opacity 0.05s;
	/* lol */
	user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
}

.quadbutton:hover, .autonext:hover, .dautonext:hover {
	transform: scale(1.1, 1.1);
	opacity: 0.8;
}

.quadbutton:active, .autonext:active, .dautonext:active {
	transform: scale(0.9, 0.9);
	opacity: 1;
}

.autonext, .dautonext {
	margin-top:5px;
	width: 28px;
}

#title, #source {
	margin: 0;
	color: #555;
}

#title {
	font-size: 18pt;
}

#source {
	font-size: 16pt;
}

#pause-button {
	margin-left: 5px;
}

/* Menu */

#menubutton {
	position: fixed;
	padding: 17px;
	top: 0px;
	left: 0px;
	z-index: 10;
	user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
}

#closemenubutton {
	margin-bottom: 5px;
	color: #111;
	user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
}

#site-menu {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 540px;
	font-size: 14pt;
	max-width: 80%;
	max-height: 80vh;
	padding: 5px 15px 15px 10px;
	box-shadow: 0px 0px 5px #111;
	background-color: #fff;
	transition: opacity 0.2 ease-in-out, transform 0.25s;
	z-index: 20;
	overflow: auto;
}


/* Hiding shit */
@keyframes appear{
	from{
		opacity: 0;
		transform: scale(0.5,0.5);
	}
	to {
		opacity: 1;
		transform: scale(1,1);
	}
}

@-webkit-keyframes appear{
	from{
		opacity: 0;
		transform: scale(0.5,0.5);
	}
	to {
		opacity: 1;
		transform: scale(1,1);
	}
}

.is-hidden {
	visibility: hidden;
}

.is-visible {
	opacity: 1;
	animation: appear 0.085s;
	-webkit-animation: appear 0.085s;
	-moz-animation: appear 0.085s;
}

/* Tooltip */
#tooltip {
	position: fixed;
	left: 10px;
	color: #555;
	padding: 5px;
	border-radius: 5px;
	bottom: 55px;
	background-color: #fff;
	box-shadow: 0px 0px 3px #111;
	transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
	max-width: 30%;
	font-size: 14pt;
}


/* Menu CSS */

#linkarea {
	margin-top: 7px;
	margin-bottom: 7px;
	padding-left: 10px;
	margin-left: 5px;
	border-left: solid 3px #ccc;
	color: #111;
	list-style: none;
}

.keybindings {
	margin: 10px 0 5px;
	color: #666;
}

.keycap {
	border: 1px solid #ccc;
	background-color: #f2f2f2;
	padding: 2px;
}

.keybinds-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.keybinds-list li {
	margin-bottom: 10px;
}

.keybinds-list li:last-child {
	margin-bottom: 0px;
}

/* Extra progressbar stuff */
#progressbar {
	transition: background-color 0.5s ease-out;
}

#progressbar:hover {
	background-color: rgba(13,13,13,0.5);
}

.list-html {
	color: #1d1d1d;
	background-color: #f2f2f2;
  	font-size: 14pt;
  	font-family: 'Ubuntu', sans-serif;
 	line-height: 1.5em;
}

.list-body {
	max-width: 640px;
  	margin-left: auto;
  	margin-right: auto;
  	padding: 45px;
}

.list-body a, .list-body a:visited {
	text-decoration: none;
	color: #e65100;
	transition: color 0.2s;
}

.list-body ul {
  	padding-left: 1.5em;
  	margin-top: 0.5em;
  	margin-bottom: 0.5em;
}

.title {
  	margin: 0;
  	display: inline-block;
}