<div class="main">
	<video ng-if="videoInfo.file" ng-src="{{ 'http://openings.moe/video/' + videoInfo.file }}" autoplay loop id="video"></video>
	<span id="newButton" ng-click="nextVideo(false)" style="display:none;"></span>

	<div id="volume"></div>

	<div class="controls">
		<span id="backward-button" ng-click="skip(-10)" class="fa fa-arrow-left quadbutton ko"></span>
		<span id="forward-button" ng-click="skip(10)" class="fa fa-arrow-right quadbutton ko"></span>
		<span id="pause-button"   ng-click="playPause()" class="fa fa-pause quadbutton ko"></span>
	</div>
	<div id="tooltip" class="is-hidden"></div>
	<div class="controls2">
		<span id="new-button" class="fa fa-refresh quadbutton ko" ng-click="nextVideo(true)" ng-mouseover="tooltip('Get a new video')" title="Get a new video" ng-mouseout="tooltip()"></span>
		<span id="autonext" class="fa fa-toggle-on quadbutton ko" ng-click="toggleAutoNext()" ng-mouseover="tooltip('Change videos instead of looping')" ng-mouseout="tooltip()"></span>
	</div>
	<span id="menubutton" ng-click="showMenu = true" class="fa fa-bars quadbutton ko"></span>

	<div id="site-menu" ng-show="showMenu" class="ko">
	
		<span id="closemenubutton" ng-click="showMenu = false" class="fa fa-times quadbutton"></span>
	
		<p id="title">{{ videoInfo.title }}</p>
		<p id="source">{{ videoInfo.source }}</p>
	
		<ul id="linkarea">
			<li class="directlink link">
				<a ng-href="/#{{ '/?video=' + videoInfo.file }}" id="videolink">Link to this video</a>
			</li>
			<li class="link">
				<a href="/#/list">Video list</a>
			</li><li class="link">
				<a href="/hub">Hub</a>
			</li>
		</ul>

		<p class="count">
			We currently have <b>{{ count }}</b> Openings and endings
		</p>

		<p class="betanote">
			This site is in beta. Request openings/endings and report errors in #aniop on irc.rizon.net.
		</p>

		<p class="keybindings">
			<b>Keyboard bindings</b>
			</p><ul class="keybinds-list">
				<li><span class="keycap"><span class="fa fa-arrow-left"></span>/<span class="fa fa-arrow-right"></span></span> Back/forward 10 seconds.<br></li>
				<li><span class="keycap">Space</span> Pause/Play. <br></li>
				<li><span class="keycap">N</span> New video. <br></li>
				<li><span class="keycap">Page Up/Down or Scroll Wheel</span> Volume. <br></li>
			</ul>
		<p></p>

	</div>
</div>